/* --- COLORS ---------------------------------------------------- */
/*	background-color: #FFFCC9; #7bae37; #92a143; #BFBD97; #807E65; #403F32; #E6E3B5; #B3B07B; #FFFEE3;*/
/*  background-color: #f5f5f5; #7E7E7E; #d3d3d3; #cccccc; */
/* --- COLORS ---------------------------------------------------- */
/* ------------------------------- */

/* --- HEADER ---------------------------------------------------- */
header {
	text-align: center;
	padding: 45px 0;
	background-color: #b2b9b2;
}
h1 {
	font-size: 70px;
}
/* --- HEADER ---------------------------------------------------- */
/* ------------------------------- */

/* --- COMMON ---------------------------------------------------- */
section {
	text-align: center;
	padding: 100px 0;
}
.section_between {
	text-align: center;
	background-color: #f2f9f2; 
/*	height: 100px;*/
/*	padding: 50px 0px 50px 0px;*/
	padding: 60px 0px;
}
.between_h2 {
	font-size: 56px;
}
.between_p {
	font-size: 26px;
}
/* --- COMMON ---------------------------------------------------- */
/* ------------------------------- */

/* --- Problem #1 ---------------------------------------------------- */
.problem1__output {
	font-size: 16px;
	min-height: 25px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.problem1__h2 {
	font-weight: normal;
	margin: 0 0 50px 0;
/*	margin-bottom: 50px;*/
}
.problem1__h3 {
	font-weight: semibold;
}
/* --- Problem #1 ---------------------------------------------------- */
/* ------------------------------- */


.sudoku__input {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
.sudoku__inputs-container {
	display: inline-grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	width: 250px;
	height: 250px;
/*	border: 1px solid black;*/
/*	background-color: red;*/
}
/* row 3 horizontal line */
.sudoku__i31, .sudoku__i32, .sudoku__i33, .sudoku__i34, .sudoku__i35, .sudoku__i36, .sudoku__i37, .sudoku__i38, .sudoku__i39 {
	background-color: yellow;
	border-bottom: 3px solid black;
}
/* row 6 horizontal line */
.sudoku__i61, .sudoku__i62, .sudoku__i63, .sudoku__i64, .sudoku__i65, .sudoku__i66, .sudoku__i67, .sudoku__i68, .sudoku__i69 {
	background-color: yellow;
	border-bottom: 3px solid black;
}
/* col 3 vertical line */
.sudoku__i13, .sudoku__i23, .sudoku__i33, .sudoku__i43, .sudoku__i53, .sudoku__i63, .sudoku__i73, .sudoku__i83, .sudoku__i93 {
	background-color: lightseagreen;
	border-right: 3px solid black;
}
/* col 6 vertical line */
.sudoku__i16, .sudoku__i26, .sudoku__i36, .sudoku__i46, .sudoku__i56, .sudoku__i66, .sudoku__i76, .sudoku__i86, .sudoku__i96 {
	background-color: lightseagreen;
	border-right: 3px solid black;
}




/*.problem2__inputs-sudoku::focus {
	border: none;
}*/


/*.sudoku-input {
	border: 1px solid black;
	width: 20px;
	height: 20px;
}*/