/* --- COLORS ---------------------------------------------------- */
/*	background-color: #FFFCC9; #7bae37; #92a143; #BFBD97; #807E65; #403F32; #E6E3B5; #B3B07B; #FFFEE3;*/
/*  background-color: #f5f5f5; #7E7E7E; #d3d3d3; #cccccc;  #f0f0f0; */
/* --- COLORS ---------------------------------------------------- */
/* ------------------------------- */

/* --- COLORS: light/dark theme ---------------------------------------------------- */
/* Not good: */
/*html {
  filter: invert(1);
}*/
/* Not good: */
:root {
	--background-color-default: white;
	--text-color: black;

	--background-color-header: #b2b9b2;
	--background-color-section_between: #f2f9f2;
	--background-color-section_problem: #f0f0f0;
	--background-color-code-page: #101010;

	--accent-color: orange;
  
}
@media (prefers-color-scheme: dark) {
  :root {
  	--background-color-default: #013220;
	--text-color: white; /* rgb(250,250,250); */

	--background-color-header: #010E09; /* #929992 rgb(250,250,250); */
	--background-color-section_between: #4A635A;/*#71797E;*/
	--background-color-section_problem: #333333; /* #666666*/
	--background-color-code-page: #101010;

	--accent-color: yellow;  /* #4A635A;  #5D7C71;*/

  }
}
/* --- COLORS: light/dark theme ---------------------------------------------------- */
/* ------------------------------- */
body {
	color: var(--text-color);
	background-color: var(--background-color-default);
}

/* --- HEADER ---------------------------------------------------- */
header {
	text-align: center;
	padding: 45px 0;
	background-color: var(--background-color-header);
}
h1 {
	font-size: 70px;
/*	color: red;*/
}
/* --- HEADER ---------------------------------------------------- */
/* ------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */
/* --- COMMON ------------------------------------------------------------------------------------------ */
section {
	text-align: center;
/*
	padding: 100px 0;
*/
	background-color: var(--background-color-section_problem);
}
/* Header section between problem */
.header__section {
	text-align: center;
	background-color: var(--background-color-section_between); /* #f2f9f2 */ 
/*	height: 100px;*/
/*	padding: 50px 0px 50px 0px;*/
	padding: 60px 0px;
}
.header__h2 {
	font-size: 56px;
}
/* Decription of problem in begining of section containing problem */
.h2-problem-description {
	font-weight: normal;
	margin: 0 0 50px 0;
	padding-top: 100px;
/*	margin-bottom: 50px;*/
}
.h2-problem-description_accent-color {
	color: var(--accent-color);
}
/* Paragraph for output of JS script solving a problem. */
.output-result_p {
	font-size: 16px;
	min-height: 25px;
	margin-bottom: 0;
	padding-bottom: 100px;
}

/* ----- CODE-PAGES ----------------------------- */
.code-pages {
	background-color: var(--background-color-code-page);
	position: relative;
}
.code-pages ul {
	margin: 0;
	padding: 0;
}
.code-pages__show-code-button {
	/*	colors, view: */
	background-color: green;
	border: solid green;
	border-width: 3px 3px 0px 3px;
	border-radius: 17px 17px 0 0; /* 20% 20% 0 0; */
	/*	position: */
	position: absolute;
	right: 40px;
	top: -40px;
	height: 40px;
	padding: 10px 20px;
	/*	Centering text: */
	display: flex;
	align-items: center;
	justify-content: center;
}
.code-pages__show-code-button:hover {
	cursor: pointer;
	border: inset yellow;
	border-width: 3px 3px 0px 3px;
}
.code-pages__page-container {
/*
	display: block;
*/
}

.code-page__page {
	display: none;
}
.js-show-page__ValidParantheses {
	display: block;
}
/*
.code-pages__page-container li:nth-child(1) {
	border: 1px solid red;
}
.code-pages__page-container li:nth-child(2) {
	border: 1px solid red;
}
.code-pages__page-container li:nth-child(3) {
	border: 1px solid red;
}
*/

.code-pages__page-buttons-list {
	position: absolute;
	display: flex;
	left: 40px;
}
.code-pages__page-button {
	display: block;
	width: 30px;
	height: 30px;
	background-color: green;
	border: 2px solid green;
}
.code-pages__page-button:hover {
	cursor: pointer;
}
.code-pages__page-buttons-list li:nth-child(1) {
	border-radius: 0 0 0 120%;
}
.code-pages__page-buttons-list li:last-child {
	border-radius:  0 70% 5% 0;
}

.js-page-button-active__ValideParantheses {
	border: 2px solid;
}
.js-code-pages__show-code-toggle {
	display: none;
}
/* -------------------------- */
/* --- COMMON ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */

/* --- Problem #1 ---------------------------------------------------- */
.problem1__h3 {
	font-weight: semibold;
}
/* --- Problem #1 ---------------------------------------------------- */
/* ------------------------------- */

/* --- Problem #2 ---------------------------------------------------- */
.sudoku__input {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
.sudoku__input:focus {
	outline: none;
}
.sudoku__inputs-container {
	display: inline-grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	width: 250px;
	height: 250px;
/*	border: 1px solid black;*/
/*	background-color: red;*/
}


/* Sudoku apearance: THICKER lines */
.sudoku__i31, .sudoku__i32, .sudoku__i33, .sudoku__i34, .sudoku__i35, .sudoku__i36, .sudoku__i37, .sudoku__i38, .sudoku__i39 {
	border-bottom: 3px solid black; /* row 3 horizontal line */
}
.sudoku__i61, .sudoku__i62, .sudoku__i63, .sudoku__i64, .sudoku__i65, .sudoku__i66, .sudoku__i67, .sudoku__i68, .sudoku__i69 {
	border-bottom: 3px solid black; /* row 6 horizontal line */
}
.sudoku__i13, .sudoku__i23, .sudoku__i33, .sudoku__i43, .sudoku__i53, .sudoku__i63, .sudoku__i73, .sudoku__i83, .sudoku__i93 {
	border-right: 3px solid black; /* col 3 vertical line */
}
.sudoku__i16, .sudoku__i26, .sudoku__i36, .sudoku__i46, .sudoku__i56, .sudoku__i66, .sudoku__i76, .sudoku__i86, .sudoku__i96 {
	border-right: 3px solid black; /* col 6 vertical line */
}


/* ----------------------------------------------------- */
/* color-scheme for sudoku: var1 */
/*.sudoku__i31, .sudoku__i32, .sudoku__i33, .sudoku__i34, .sudoku__i35, .sudoku__i36, .sudoku__i37, .sudoku__i38, .sudoku__i39,
.sudoku__i41, .sudoku__i42, .sudoku__i43, .sudoku__i44, .sudoku__i45, .sudoku__i46, .sudoku__i47, .sudoku__i48, .sudoku__i49,
.sudoku__i61, .sudoku__i62, .sudoku__i63, .sudoku__i64, .sudoku__i65, .sudoku__i66, .sudoku__i67, .sudoku__i68, .sudoku__i69,
.sudoku__i71, .sudoku__i72, .sudoku__i73, .sudoku__i74, .sudoku__i75, .sudoku__i76, .sudoku__i77, .sudoku__i78, .sudoku__i79 {
	background-color: yellow;
}
.sudoku__i14, .sudoku__i24, .sudoku__i34, .sudoku__i44, .sudoku__i54, .sudoku__i64, .sudoku__i74, .sudoku__i84, .sudoku__i94,
.sudoku__i13, .sudoku__i23, .sudoku__i33, .sudoku__i43, .sudoku__i53, .sudoku__i63, .sudoku__i73, .sudoku__i83, .sudoku__i93,
.sudoku__i17, .sudoku__i27, .sudoku__i37, .sudoku__i47, .sudoku__i57, .sudoku__i67, .sudoku__i77, .sudoku__i87, .sudoku__i97,
.sudoku__i16, .sudoku__i26, .sudoku__i36, .sudoku__i46, .sudoku__i56, .sudoku__i66, .sudoku__i76, .sudoku__i86, .sudoku__i96 {
	background-color: lightseagreen;
}*/
/* color-scheme for sudoku: var1 */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* color-scheme for sudoku: var2 */
/*.sudoku__i31, .sudoku__i32, .sudoku__i33, .sudoku__i34, .sudoku__i35, .sudoku__i36, .sudoku__i37, .sudoku__i38, .sudoku__i39,
.sudoku__i41, .sudoku__i42, .sudoku__i43, .sudoku__i44, .sudoku__i45, .sudoku__i46, .sudoku__i47, .sudoku__i48, .sudoku__i49,
.sudoku__i61, .sudoku__i62, .sudoku__i63, .sudoku__i64, .sudoku__i65, .sudoku__i66, .sudoku__i67, .sudoku__i68, .sudoku__i69,
.sudoku__i71, .sudoku__i72, .sudoku__i73, .sudoku__i74, .sudoku__i75, .sudoku__i76, .sudoku__i77, .sudoku__i78, .sudoku__i79 {
	background-color: yellow;
}
.sudoku__i14, .sudoku__i24, .sudoku__i34, .sudoku__i44, .sudoku__i54, .sudoku__i64, .sudoku__i74, .sudoku__i84, .sudoku__i94,
.sudoku__i13, .sudoku__i23, .sudoku__i33, .sudoku__i43, .sudoku__i53, .sudoku__i63, .sudoku__i73, .sudoku__i83, .sudoku__i93,
.sudoku__i17, .sudoku__i27, .sudoku__i37, .sudoku__i47, .sudoku__i57, .sudoku__i67, .sudoku__i77, .sudoku__i87, .sudoku__i97,
.sudoku__i16, .sudoku__i26, .sudoku__i36, .sudoku__i46, .sudoku__i56, .sudoku__i66, .sudoku__i76, .sudoku__i86, .sudoku__i96 {
	background-color: lightseagreen;
}
.sudoku__i11, .sudoku__i12, .sudoku__i21, .sudoku__i22, .sudoku__i51, .sudoku__i52, .sudoku__i81, .sudoku__i82, .sudoku__i91, .sudoku__i92 {
	background-color: yellow;
}
.sudoku__i15, .sudoku__i25, .sudoku__i55, .sudoku__i85, .sudoku__i95 {
	background-color: yellow;
}
.sudoku__i18, .sudoku__i19, .sudoku__i28, .sudoku__i29, .sudoku__i58, .sudoku__i59, .sudoku__i88, .sudoku__i89, .sudoku__i98, .sudoku__i99 {
	background-color: yellow;
}*/
/* color-scheme for sudoku: var2 */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* color-scheme for sudoku: var3 */
/*.sudoku__i31, .sudoku__i32, .sudoku__i33, .sudoku__i34, .sudoku__i35, .sudoku__i36, .sudoku__i37, .sudoku__i38, .sudoku__i39,
.sudoku__i41, .sudoku__i42, .sudoku__i43, .sudoku__i44, .sudoku__i45, .sudoku__i46, .sudoku__i47, .sudoku__i48, .sudoku__i49,
.sudoku__i61, .sudoku__i62, .sudoku__i63, .sudoku__i64, .sudoku__i65, .sudoku__i66, .sudoku__i67, .sudoku__i68, .sudoku__i69,
.sudoku__i71, .sudoku__i72, .sudoku__i73, .sudoku__i74, .sudoku__i75, .sudoku__i76, .sudoku__i77, .sudoku__i78, .sudoku__i79 {
	background-color: yellow;
}
.sudoku__i14, .sudoku__i24, .sudoku__i34, .sudoku__i44, .sudoku__i54, .sudoku__i64, .sudoku__i74, .sudoku__i84, .sudoku__i94,
.sudoku__i13, .sudoku__i23, .sudoku__i33, .sudoku__i43, .sudoku__i53, .sudoku__i63, .sudoku__i73, .sudoku__i83, .sudoku__i93,
.sudoku__i17, .sudoku__i27, .sudoku__i37, .sudoku__i47, .sudoku__i57, .sudoku__i67, .sudoku__i77, .sudoku__i87, .sudoku__i97,
.sudoku__i16, .sudoku__i26, .sudoku__i36, .sudoku__i46, .sudoku__i56, .sudoku__i66, .sudoku__i76, .sudoku__i86, .sudoku__i96 {
	background-color: lightseagreen;
}
.sudoku__i11, .sudoku__i12, .sudoku__i21, .sudoku__i22, .sudoku__i51, .sudoku__i52, .sudoku__i81, .sudoku__i82, .sudoku__i91, .sudoku__i92 {
	background-color: yellow;
}
.sudoku__i15, .sudoku__i25, .sudoku__i55, .sudoku__i85, .sudoku__i95 {
	background-color: yellow;
}
.sudoku__i18, .sudoku__i19, .sudoku__i28, .sudoku__i29, .sudoku__i58, .sudoku__i59, .sudoku__i88, .sudoku__i89, .sudoku__i98, .sudoku__i99 {
	background-color: lightseagreen;
}*/
/* color-scheme for sudoku: var3 */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* color-scheme for sudoku: var4 chess */
.sudoku__i11, .sudoku__i12, .sudoku__i13, .sudoku__i21, .sudoku__i22, .sudoku__i23, .sudoku__i31, .sudoku__i32, .sudoku__i33,
.sudoku__i17, .sudoku__i18, .sudoku__i19, .sudoku__i27, .sudoku__i28, .sudoku__i29, .sudoku__i37, .sudoku__i38, .sudoku__i39,
.sudoku__i71, .sudoku__i72, .sudoku__i73, .sudoku__i81, .sudoku__i82, .sudoku__i83, .sudoku__i91, .sudoku__i92, .sudoku__i93,
.sudoku__i77, .sudoku__i78, .sudoku__i79, .sudoku__i87, .sudoku__i88, .sudoku__i89, .sudoku__i97, .sudoku__i98, .sudoku__i99 {
	background-color:  lightseagreen;
}
.sudoku__i44, .sudoku__i45, .sudoku__i46, .sudoku__i54, .sudoku__i55, .sudoku__i56, .sudoku__i64, .sudoku__i65, .sudoku__i66 {
	background-color: lightseagreen;
}
.sudoku__i14, .sudoku__i15, .sudoku__i16, .sudoku__i24, .sudoku__i25, .sudoku__i26, .sudoku__i34, .sudoku__i35, .sudoku__i36,
.sudoku__i41, .sudoku__i42, .sudoku__i43, .sudoku__i51, .sudoku__i52, .sudoku__i53, .sudoku__i61, .sudoku__i62, .sudoku__i63,
.sudoku__i74, .sudoku__i75, .sudoku__i76, .sudoku__i84, .sudoku__i85, .sudoku__i86, .sudoku__i94, .sudoku__i95, .sudoku__i96,
.sudoku__i47, .sudoku__i48, .sudoku__i49, .sudoku__i57, .sudoku__i58, .sudoku__i59, .sudoku__i67, .sudoku__i68, .sudoku__i69 {
	background-color: yellow;
}
/* color-scheme for sudoku: var4 chees */
/* ----------------------------------------------------- */

.problem2__button {
	display: block;
	margin: 25px auto;
}
/* --- Problem #2 ---------------------------------------------------- */
/* ------------------------------- */
